@media screen and (min-width: 765px) {

*{
  box-sizing:border-box;
  width:100%;
  height:auto;
  margin:0;
  font-family:'游ゴシック',serif;
}

main{
  background-image: url(../img/background_w.jpg);
}

#main1,
#main2,
#main3,
#main4{
  position: relative;
  width:100%;
  height: 100%;
  overflow: hidden;
}

.top{
  position: relative;
  width:100%;
  height:100%;
}

.top_img{
  margin-left:0;
  margin-right:0;
  width:100%;
  height:100%;
  display:block; /* トップ画像と背景の間の余白ができないように修正 */
}

h1{
  position:absolute;
  width:auto;
  height:auto;
  left:0;
  top:60%;
  font-weight:lighter;
  font-size:7.3vw;
  letter-spacing: 3px;
}

.top_p1{
  position: absolute;
  width:auto;
  height:auto;
  left:11%;
  top:73%;
  font-size: 2.3vw;
  letter-spacing: 3px;
}

.top_p2{
  position: absolute;
  width:auto;
  height:auto;
  left:2%;
  top:80%;
  font-weight:bold;
  font-size: 2.5vw;
  letter-spacing:1.5px;
}

.top_p3{
  position:absolute;
  width:auto;
  height:auto;
  left:2%;
  top:86%;
  padding:1%;
  font-weight:lighter;
  font-family:'Courier New','游ゴシック',serif;
  font-size:2.5vw;
  letter-spacing:1.5px;
  background-color:#000000;
  color:#FFFFFF;
}

.top_p4{
  position:absolute;
  width:auto;
  height:auto;
  left:16%; /* 右寄りなのが気になったため17%→16%に修正、、、 */
  top:87%;
  font-weight: bold;
  font-size:2.8vw;
}

.top_b{
  position: absolute;
  top:93%;
  right:1%;
  width: 100%;
  text-align:right;
  overflow: hidden;
}

/* ↓↓↓↓↓ グローバルナビゲーションの固定設定 開始 ↓↓↓↓↓ */
.fixed{
  position: fixed;
  top: 10px;
  z-index: 100;
}
/* ↑↑↑↑↑ グローバルナビゲーションの固定設定 終了 ↑↑↑↑↑ */

ul{
  width:52%;
  margin:0;
  padding:0;
  list-style:none;
  display:inline-flex;
}

li{
  text-align: center;
}

li a{
  text-decoration:none;
  font-weight:bold;
  font-size:2.0vw;
  letter-spacing:1.5px;
  color:#FFFFFF; /* #000000→#FFFFFFに修正 */
  text-shadow:1px 1px 5px #000000; /* 上記修正による文字の見えにくさを修正 */
  position:relative; /* 下記設定に伴い追加 */
}

/* ↓↓↓↓↓ グローバルナビゲーションホバー時のエフェクト設定 開始 ↓↓↓↓↓ */
li.off a::after{
  position: absolute;
  bottom: -20%;
  left: 0;
  content: '';
  width: 100%;
  /*height: 2px;
  background-color: #FFFFFF;*/
  border-bottom: 2px solid #FFFFFF;
  box-shadow: 1px 1px 5px #000000;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .4s;
}
li.off a:hover::after{
  transform: scale(1, 1);
}
li.on a::after{
  position: absolute;
  bottom: -20%;
  left: 0;
  content: '';
  width: 100%;
  /*height: 2px;
  background-color: #FFFFFF;*/
  border-bottom: 2px solid #FFFFFF;
  box-shadow: 1px 1px 5px #000000;
  transform-origin: center top;
  transition: transform .4s;
}
/* ↑↑↑↑↑ グローバルナビゲーションホバー時のエフェクト設定 終了 ↑↑↑↑↑ */

.about_img{
  width: 85%;
  display: block;
  margin: auto;
  filter:brightness(85%);
}

.about_p1,
.menu_p1{
  text-align: center;
  width:auto;
  height:auto;
  padding:10% 0 4% 0;
  font-size:3.0vw;
  letter-spacing:1.5px;
}

h2{
  position: absolute;
  width:auto;
  top:26%; /* 28%→26%に修正 */
  left:10%;
  font-weight: lighter;
  font-size:3.5vw;
  letter-spacing:1.5px;
  color:#FFFFFF;
}

.about_p2{
  position: absolute;
  width:auto;
  top:33%; /* 35%→33%に修正 */
  left:10%;
  font-size:1.7vw; /* 1.5vw→1.7vwに修正 */
  letter-spacing:0.5px;
  color:#FFFFFF;
}

.cp_img{
  width:70%;
  display: block;
  margin:0 auto;
}

h3{
  width:auto;
  margin:0 0 2% 3%;
  font-weight: lighter;
  font-size:3.5vw;
  letter-spacing:1.5px;
}

.course_plan1,
.course_plan2{
  width:100%;
  height: 100%;
  text-align: center;
  font-size:1.5vw;
  letter-spacing:0.5px;
  overflow: hidden;
}

.course_1,
.course_2,
.course_3,
.course_4,
.course_5,
.course_6{
  width:25%;
  height:100%;
  display: inline-block;
  margin:5% 0 2% 2%;
}

.c_1p1,
.c_2p1,
.c_3p1,
.c_4p1,
.c_5p1,
.c_6p1{
  width: auto;
  text-align: center;
  font-weight: bold;
  font-size:2.0vw;
  color:#924893;
}

.course_plan_dl1,
.course_plan_dl2,
.course_plan_dl3,
.course_plan_dl4,
.course_plan_dl5,
.course_plan_dl6{
  width: 90%;
  height: auto;
  margin:0 0 0 10%;
  text-align: center;
  font-size:1.5vw;
  letter-spacing:0.5px;
  white-space: nowrap;
  overflow: hidden;
}

#main2 dl{
  width:27%;
  border-bottom: solid 1px #000;
  margin:0;
  margin-left:3%;
  text-align:center;
  float:left;
}

#main2 dt{
  width:40%;
  text-align: center;
  clear: left;
  float: left;
}

.option_p1{
  font-size:1.35vw;
  padding-right:5%;
}

.option_p2{
  overflow: hidden;
  text-align: right;
  padding-right:9.5%;
  font-size:1.0vw;
}

h4{
  width:100%;
  font-weight:lighter;
  font-size:3.0vw;
  letter-spacing:1.5px;
  color:#FFFFFF;
}

.st_table{
  width:70%;
  height:auto;
  table-layout:fixed;
  border-collapse:collapse;
  text-align: center;
  white-space: nowrap;
  font-size:1.5vw;
  letter-spacing:0.5px;
  margin-top:10%;
  margin-left:auto;
  margin-right:auto;
}

#main2 td{
  width:100%;
}

#main2 th{
  width:100%;
  text-align: center;
  font-weight: lighter;
  font-size:2.0vw;
  letter-spacing:0.5px;
  color:#FFF;
  background:#59493f;
}

#main2 table tr:nth-child(odd){
  background:#efe1c8;
}

.kenshu{
  white-space: nowrap;
  text-align: left;
  padding-left:6%;
}

.s20off{
  position: absolute;
  top:63.5%;
  left:59%;
  width:28%;
  height: auto;
}

.option_p3{
  padding-left: 5%;
  font-size:1.3vw;
}

.option_p4{
  width:50%;
  margin-left:17%;
  font-size:1.3vw;
  color:#FF0000;
}

.staff{
  width: 100%;
  height: auto;
  display: flex; /* floatからflexboxによるレイアウトに変更 */
  flex-direction: row; /* sf_tableクラスとstaff_cクラスを横並び */
  position: relative; /* bird_imgsクラスのレイアウトを調整 */
}

.sf_table{
  width:82%; /* flexboxによるレイアウトへ変更するため45%→82%に修正 */
  height:auto;
  table-layout:fixed;
  border-collapse:collapse;
  font-size:1.3vw;
  letter-spacing:0.5px;
  margin-left:0 auto;
  margin-right:0;
  /*float: left;*/ /* flexboxによるレイアウトへ変更するためコメントアウト */
}

#main3 th{
  vertical-align:text-top;
  text-align: right;
  padding-right:5%;
  padding-top:4%;
  font-weight: lighter;
  font-size:1.8vw;
  letter-spacing:0.5px;
}

#main3 td{
  width:100%;
  text-align:left;
  padding-top:4%;
}

.option_p5{
  font-size:1.0vw;
}

.staff_img{
  padding-top:4%; /*写真を上寄せするため12%→4%に修正*/
  width:48%; /* flexboxによるレイアウトへ変更するため30%→48%に修正 */
  height: auto;
  margin-left:20%; /* flexboxによるレイアウトへ変更するため10%→20%に修正 */
  /*float: left;*/ /* flexboxによるレイアウトへ変更するためコメントアウト */
}

.sf_name{
  width:88%; /* flexboxによるレイアウトへ変更するため50%→88%に修正 */
  padding-left:2%;
  text-align: center;
  font-size:2.5vw;
  letter-spacing:0.5px;
  overflow: hidden;
}

/* ↓↓↓↓↓ 名前のローマ字部分を上寄せ 開始 ↓↓↓↓↓ */
.sf_name span{
  display: block;
  line-height: 1.1;
  padding-right: 4%
}
/* ↑↑↑↑↑ 名前のローマ字部分を上寄せ 終了 ↑↑↑↑↑ */

/* ↓↓↓↓↓ bird_imgsクラスのレイアウトを調整 開始 ↓↓↓↓↓ */
.bird_imgs{
  position: absolute;
  bottom: 0;
  left: 47%;
  width: 47%;
}
/* ↑↑↑↑↑ bird_imgsクラスのレイアウトを調整 終了 ↑↑↑↑↑ */

.sf_imgs{
  width:18%;
  height: auto;
}

.acsess{
  width:100%;
  height:auto;
  text-align: center;
}

.house_img{
  width:100%;
  height: auto;
  overflow: hidden;
}

.h_imgs1,
.h_imgs2,
.h_imgs3{
  width:27%;
  height: auto;
  display: inline-block;
}

.h1_p{
  width:53%;
  height: auto;
  margin-left:8%;
  text-align: left;
  font-size:3.5vw;
  float:left;
}

.tel_p{
  width:30%;
  height: auto;
  text-align:right;
  padding-top:1.5%;
  font-size:2.0vw;
  color:#b5233f;
  float:left;
}

.acsess_p{
  width:80%;
  height: auto;
  margin-left:8%;
  padding-top:1%;
  padding-bottom:3%;
  text-align:left;
  font-size:1.5vw;
  overflow: hidden;
}

.ac_table{
  width:30%;
  height:auto;
  table-layout:fixed;
  border-collapse:collapse;
  font-size:1.3vw;
  letter-spacing:0.5px;
  margin-left:8%;
  white-space:nowrap;
  float: left;
}

#main4 th{
  width:30%;
  vertical-align:text-top;
  text-align:center;
  padding-top:4%;
  font-weight: lighter;
  font-size:1.6vw;
  letter-spacing:0.5px;
}

#main4 td{
  width:50%;
  text-align:left;
  padding-top:4%;
  padding-left:5%;
}

#main4 td a{
  text-decoration: none;
  color: #000000;
}

.map{
    position: relative;
    width: 50%;
    height:0;
    padding-bottom:50%;
    overflow: hidden;
}

.map iframe{
    position: absolute;
    top:10%;
    left:20%;
    width: 100%;
    height:60%;
}

/* ↓↓↓↓↓ フッターの追加 開始 ↓↓↓↓↓ */
.page-top{
  position: fixed;
  bottom: 4%;
  right: 4%;
  width: 8%;
}
.copyright {
  background-color: #59493f;
  color: #FFFFFF;
  text-align: center;
  padding: 2.2%;
}
/* ↑↑↑↑↑ フッターの追加 終了 ↑↑↑↑↑ */

}
